* {
    padding: 0;
    margin: 0;
    border-bottom: none;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: bold;
    }
   
.all-page {
    width: 1280px;
}

.header {
    display: inline-block;
     padding: 25.5px 0;
    width: 100%;
}

.nav {
    text-align: center; 
}

.nav_list , .nav_list-item-last {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

.nav_list-item:last-child {
    margin: 0 0 0 -22px;
}

.nav_list-item {
    display: inline-block;
    margin: 0 72px 0 0;
  }

.nav__link {
    color: #ff0000;
    text-decoration: none;
}

.main__image {
    display: block;
    width: 100%;
    height: 789px;
}

.main__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    color: #373737;
    padding: 48px 0 10px 0;
}

.main__description {
    text-align: center;
    font-size: 16px; 
    font-weight: 400;  
    letter-spacing: 2.4px;
    color: #373737;
    margin: 28px 67.5px;
}

.button-wrapper {
     text-align: center;
}

.button__link {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    width: 191px;
    padding: 25.5px 0;
    background-color: #ff0000;
    border-radius: 4px;
    border:none;
     text-decoration: none;
    color: white;
}

.footer_reserved {
    font-size: 16px;
    text-align: right; 
    margin: 40px 105px 29px 0px
}